.preview {
  min-height: 500px;
  margin: 18px;
}

.database {
  min-height: 500px;
  margin: 18px;
}

.nav {
  background-color: rgb(0, 123, 255);
}

.title {
  color: white;
  text-align: center;
  margin: 20px;
}

IMG {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.image-item {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.remove-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 0 0 0 4px;
  cursor: pointer;
}

